{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "VAM-Data-Bridges",
    "description" : "API Documentation of the **DataBridges** platform: https://databridges.vam.wfp.org/. For API discussions and details: #api-integration-vam-data-bridges on Slack, [Teams channel](https://teams.microsoft.com/l/team/19%3a4ca595f7681f4ffa8a86b7af58832e8d%40thread.skype/conversations?groupId=cbd1e508-c6e8-459d-96b7-6cac3039c42c&tenantId=462ad9ae-d7d9-4206-b874-71b1e079776f) **API Integration** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
    "contact" : {
      "name" : "VAM-INFO",
      "email" : "wfp.economicanalysis@wfp.org"
    },
    "version" : "5.0.0"
  },
  "servers" : [ {
    "url" : "https://api.wfp.org/vam-data-bridges/5.0.0"
  } ],
  "security" : [ {
    "default" : [ ]
  } ],
  "tags" : [ {
    "name" : "Aims",
    "description" : "The Asset Impact Monitoring from Space (AIMS) is a high-tech, data-driven, service that uses satellite \r\nimagery and landscape monitoring techniques to demonstrate and evaluate the impact of asset creation and livelihood programmes."
  }, {
    "name" : "Commodities",
    "description" : "Returns the list of commodities and their categories."
  }, {
    "name" : "CommodityUnits",
    "description" : "Returns the list of unit of measures and their conversion factors to standard quantities."
  }, {
    "name" : "Currency",
    "description" : "Returns official and, where available, unofficial exchange rates."
  }, {
    "name" : "EconomicData",
    "description" : "Returns the time series of values for different indicators. \r\nOriginal source is Trading Economics, licensed for redistribution only to the Vulnerability Analysis and Mapping - Economic and Market Analysis Unit."
  }, {
    "name" : "FoodSecurity",
    "description" : "IPC data"
  }, {
    "name" : "Gorp",
    "description" : "Number of acutely food insecure people in countries with WFP operational presence, in millions. \r\nSource is WFP’s Global Operational Response plan, numbers are updated with each publication (3 times a year). \r\nNumbers are updates to  WFP’s original estimate of COVID-19’s impact on acute food security conducted in June 2020 \r\n(see [https://docs.wfp.org/api/documents/WFP-0000128212/download/](https://docs.wfp.org/api/documents/WFP-0000128212/download/)). In the updates, the original estimations from June 2020 are \r\nreplaced with the most recent assessment data and projections for the given year from Integrated Phase Classification (IPC), Cadre Harmonisé (CH), or \r\ncomparable analyses (peak values). As updates provide improved estimates for the given year, they are not intended for trend analysis."
  }, {
    "name" : "Household",
    "description" : "Household Surveys"
  }, {
    "name" : "MarketPrices",
    "description" : "Returns time series of commodity market prices at different frequencies."
  }, {
    "name" : "Markets",
    "description" : "Returns the list of market locations with Administrative level codes matching with the VAM internal API."
  }, {
    "name" : "Rpme",
    "description" : "Retail Performance Monitoring and Evaluation"
  }, {
    "name" : "Surveys",
    "description" : "Market Functionality Index Surveys"
  }, {
    "name" : "XlsForms",
    "description" : "Market Functionality Index XLS Forms"
  } ],
  "paths" : {
    "/Aims/DownloadAllAnalysisRounds" : {
      "get" : {
        "tags" : [ "Incubation" ],
        "summary" : "Each asset has a baseline and several rounds. Each round reflects the number of times the asset \r\nhas been analysed over time. The number of total rounds changes according to the workstream: \r\nAsset Detection (AD) assets can have a total of 5 rounds, while there is no limit to the monitoring of \r\nLandscape Impact Assessment (LIA) assets. Assets considered for Site Prioritization (SP) have one round only. \r\nPlease note that adm0code can be obtained from https://api.vam.wfp.org/geodata/swagger/index.html (VPN access only).",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Incubation-red)]()\n\n[![Generic badge](https://img.shields.io/badge/Access%20Policy-TEC_Architecture_+_Service_Owner_approvals_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Official%20Use%20Only-yellow)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_aims-downloadallanalysisrounds_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "adm0Code",
          "in" : "query",
          "description" : "The country adm0Code",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_aims-downloadallanalysisrounds_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Aims/DownloadPolygonFiles" : {
      "get" : {
        "tags" : [ "Incubation" ],
        "summary" : "Polygon files are available for Landscape Impact Assessment (LIA) assets only. \r\nThe file name corresponds to the “Geotrace” name. Please note that adm0code can be obtained \r\nfrom https://api.vam.wfp.org/geodata/swagger/index.html (VPN access only).",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Incubation-red)]()\n\n[![Generic badge](https://img.shields.io/badge/Access%20Policy-TEC_Architecture_+_Service_Owner_approvals_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Official%20Use%20Only-yellow)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_aims-downloadpolygonfiles_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "adm0Code",
          "in" : "query",
          "description" : "The country adm0Code",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_aims-downloadpolygonfiles_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Commodities/List" : {
      "get" : {
        "tags" : [ "Commodities" ],
        "summary" : "Provide the detailed list of the commodities available in DataBridges platform",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_commodities-list_get\"\n\nCOICOP 2018 codes are returned to hierarchically matching categories based on [UN-Statistical Division codes](https://unstats.un.org/unsd/classifications/Econ/). No mandatory parameter.\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "The code to identify the country. It can be a ISO-3166 Alpha 3 code or the VAM internal admin0code",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commodityName",
          "in" : "query",
          "description" : "The name, even partial and case insensitive, of a commodity",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commodityID",
          "in" : "query",
          "description" : "The exact ID of a commodity",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format: [JSON|CSV] Json is the default value",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_commodities-list_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Commodities/Categories/List" : {
      "get" : {
        "tags" : [ "Commodities" ],
        "summary" : "Provides the list of categories.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_commodities-categories-list_get\"\n\nCategories are matched with high level WFP commodity classification at level 1. No mandatory parameter.\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "The code to identify the country. It can be a ISO-3166 Alpha 3 code or the VAM internal admin0code",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "categoryName",
          "in" : "query",
          "description" : "The name, even partial and case insensitive, of a commodity category.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "categoryID",
          "in" : "query",
          "description" : "The exact ID of a Commodity, as found in /Commodities/List.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format: [JSON|CSV] Json is the default value",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_commodities-categories-list_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/CommodityUnits/List" : {
      "get" : {
        "tags" : [ "CommodityUnits" ],
        "summary" : "Provides the detailed list of the unit of measure available in DataBridges platform",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_commodityunits-list_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "The code to identify the country. It can be a ISO-3166 Alpha 3 code or the VAM internal admin0code",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commodityUnitName",
          "in" : "query",
          "description" : "The name, even partial and case insensitive, of a commodity unit",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commodityUnitID",
          "in" : "query",
          "description" : "The exact ID of a commodity unit",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format: [JSON|CSV] Json is the default value",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_commodityunits-list_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/CommodityUnits/Conversion/List" : {
      "get" : {
        "tags" : [ "CommodityUnits" ],
        "summary" : "Provides conversion factors to Kilogram or Litres for each convertible unit of measure.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_commodityunits-conversion-list_get\"\n\nSome non-standard units of measure might have different a conversion factor based on the country [Adm0Code]; Other non-standard units of measure might have a different conversion factor based on the commodity [CommodityID] being measured. Other cases will have null adm0code and CommodityID. No mandatory parameter.\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "The code to identify the country. It can be a ISO-3166 Alpha 3 code or the VAM internal admin0code.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "commodityID",
          "in" : "query",
          "description" : "The exact ID of a Commodity, as found in /Commodities/List",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "fromUnitID",
          "in" : "query",
          "description" : "The exact ID of the original unit of measure of the price of a commodity, as found in /CommodityUnits/List",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "toUnitID",
          "in" : "query",
          "description" : "The exact ID of the converted unit of measure of the price of a commodity, as found in /CommodityUnits/List",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format: [JSON|CSV] Json is the default value",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCommodityListDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_commodityunits-conversion-list_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Currency/List" : {
      "get" : {
        "tags" : [ "Currency" ],
        "summary" : "Returns the list of currencies available in the internal VAM database, with Currency 3-letter code, matching with ISO 4217.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_currency-list_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "The code to identify the country. It can be a ISO-3166 Alpha 3 code or the VAM internal admin0code.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "currencyName",
          "in" : "query",
          "description" : "Currency 3-letter code, matching with ISO 4217.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "currencyID",
          "in" : "query",
          "description" : "Unique code to identify the currency in internal VAM currencies.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format: [JSON|CSV] Json is the default value",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCurrencyListDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCurrencyListDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedCurrencyListDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_currency-list_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Currency/UsdIndirectQuotation" : {
      "get" : {
        "tags" : [ "Currency" ],
        "summary" : "Returns the value of the Exchange rates from Trading Economics, for official rates, and DataViz for unofficial rates.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_currency-usdindirectquotation_get\"\n\nReturns the time series of values of the Exchange rate of the Local Currency for buying 1 USD in the official market. Original frequency for official rates is daily, non-indicated. Unofficial rates are aggregated at national level by the original frequency of collection. For greater detail on unofficial exchange rates, explore the Exchange Rate (unofficial) commodity in Market Prices Prices. No mandatory parameter.\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "countryIso3",
          "in" : "query",
          "description" : "The code to identify the country. Must be a ISO-3166 Alpha 3 code.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "currencyName",
          "in" : "query",
          "description" : "the ISO3 code for the currency, based on ISO4217",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format: [JSON|CSV] Json is the default value",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsdIndirectQuotationPagedResult"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsdIndirectQuotationPagedResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsdIndirectQuotationPagedResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_currency-usdindirectquotation_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/EconomicData/{indicatorName}" : {
      "get" : {
        "tags" : [ "EconomicData" ],
        "summary" : "Returns the time series of values for different indicators.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_economicdata_get\"\n\nIndicator name as retrieved from /EconomicData/IndicatorList is mandatory.\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "indicatorName",
          "in" : "path",
          "description" : "Name of the indicator as found in /EconomicData/IndicatorList.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "iso3",
          "in" : "query",
          "description" : "The code to identify the country. Must be a ISO-3166 Alpha 3 code.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Starting date for the range in which data was collected. Use the date formats defined by RFC 3339 ; use strings matching year \\\"-\\\" month \\\"-\\\" day (e.g. 2020/06/24)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Ending date for the range in which data was collected. Use the date formats defined by RFC 3339 ; use strings matching year \\\"-\\\" month \\\"-\\\" day (e.g. 2020/06/24)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format: [JSON|CSV] Json is the default value",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedEconomicDataDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedEconomicDataDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedEconomicDataDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_economicdata_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/EconomicData/IndicatorList" : {
      "get" : {
        "tags" : [ "EconomicData" ],
        "summary" : "Returns the lists of indicators.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_economicdata-indicatorlist_get\"\n\nReturns the lists of indicators for which Vulnerability Analysis and Mapping - Economic and Market Analysis Unit has redistribution licensing from Trading Economics. No mandatory parameter.\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "Page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "indicatorName",
          "in" : "query",
          "description" : "Unique indicator name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "iso3",
          "in" : "query",
          "description" : "The code to identify the country. Must be a ISO-3166 Alpha 3 code.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format: [JSON|CSV] Json is the default value",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EconomicIndicatorPropertyPagedResult"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EconomicIndicatorPropertyPagedResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EconomicIndicatorPropertyPagedResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_economicdata-indicatorlist_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/FoodSecurity/List" : {
      "get" : {
        "tags" : [ "FoodSecurity" ],
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_foodsecurity-list_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "iso3",
          "in" : "query",
          "description" : "The country ISO3 code",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IpcValuePagedResult"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IpcValuePagedResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IpcValuePagedResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_foodsecurity-list_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Gorp/List" : {
      "get" : {
        "tags" : [ "Gorp" ],
        "summary" : "Return the full dataset of number of acutely food insecure (in millions) based on WFP Global Operational Response Plan.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_gorp-list_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GorpValueWithChangesPagedResult"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GorpValueWithChangesPagedResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GorpValueWithChangesPagedResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_gorp-list_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Gorp/Latest" : {
      "get" : {
        "tags" : [ "Gorp" ],
        "summary" : "Return the latest dataset of number of acutely food insecure (in millions)  based on WFP Global Operational Response Plan.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_gorp-latest_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GorpValueWithChangesPagedResult"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GorpValueWithChangesPagedResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GorpValueWithChangesPagedResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_gorp-latest_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Gorp/CountryLatest" : {
      "get" : {
        "tags" : [ "Gorp" ],
        "summary" : "Return the latest country dataset of number of acutely food insecure (in thousands)  based on WFP Global Operational Response Plan.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_gorp-countrylatest_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GorpCountryApiDto"
                  }
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GorpCountryApiDto"
                  }
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GorpCountryApiDto"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_gorp-countrylatest_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Gorp/RegionalLatest" : {
      "get" : {
        "tags" : [ "Gorp" ],
        "summary" : "Return the latest regional dataset of number of acutely food insecure (in millions)  based on WFP Global Operational Response Plan.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_gorp-regionallatest_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GorpRegionalApiDto"
                  }
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GorpRegionalApiDto"
                  }
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GorpRegionalApiDto"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_gorp-regionallatest_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Gorp/GlobalLatest" : {
      "get" : {
        "tags" : [ "Gorp" ],
        "summary" : "Return the latest global dataset of number of acutely food insecure (in millions)  based on WFP Global Operational Response Plan.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_gorp-globallatest_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GorpGlobalApiDto"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GorpGlobalApiDto"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GorpGlobalApiDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_gorp-globallatest_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Household/Surveys" : {
      "get" : {
        "tags" : [ "Incubation" ],
        "summary" : "Retrieve 1) Survey IDs, 2) their corresponding XLS Form IDs, and 3) Base XLS Form of all household surveys conducted in a country. \r\nA date of reference, SurveyDate, for the data collection is set by the officer responsible for the upload for each survey.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Incubation-red)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_household-surveys_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "adm0Code",
          "in" : "query",
          "description" : "code for the country as retrieved from https://api.vam.wfp.org/geodata/CountriesInRegion",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "starting date for the range in which data was collected. Use the date formats defined by RFC 3339 ; use strings matching year \"-\" month \"-\" day (e.g. 2020/06/24)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "ending date for the range in which data was collected. Use the date formats defined by RFC 3339 ; use strings matching year \"-\" month \"-\" day (e.g. 2020/06/24)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "surveyId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HouseholdSurveyListDTOPagedResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_household-surveys_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Household/FullData" : {
      "get" : {
        "tags" : [ "Incubation" ],
        "summary" : "Get a full dataset that includes all the fields included in the survey in addition to the core household fields by Survey ID.\r\nTo access this data, please contact Wael ATTIA for authorization. \r\nThis endpoint will send you only data you have access to, based on permissions assigned to your application profile. \r\nThe \"apiKey\" can be found in the profile section of the DataBridges application.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Incubation-red)]()\n\n[![Generic badge](https://img.shields.io/badge/Access%20Policy-TEC_Architecture_+_Service_Owner_approvals_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Official%20Use%20Only-yellow)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_household-fulldata_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "surveyID",
          "in" : "query",
          "description" : "unique identifier for the collected data, as retrieved from /Surveys API.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format: [JSON|CSV] Json is the default value",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "page size for paged results, default value is 20.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_household-fulldata_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Household/DraftInternalBaseData" : {
      "get" : {
        "tags" : [ "Incubation" ],
        "summary" : "Get data that includes the core household fields only by Survey ID.\r\nTo access this data, please contact Wael ATTIA for authorization. \r\nThis endpoint will send you only data you have access to, based on permissions assigned to your application profile. \r\nThe \"apiKey\" can be found in the profile section of the DataBridges application.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Incubation-red)]()\n\n[![Generic badge](https://img.shields.io/badge/Access%20Policy-TEC_Architecture_+_Service_Owner_approvals_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Official%20Use%20Only-yellow)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_household-draftinternalbasedata_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "apiKey",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "surveyID",
          "in" : "query",
          "description" : "unique identifier for the collected data, as retrieved from /Surveys API.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "page size for paged results, default value is 20.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_household-draftinternalbasedata_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Household/OfficialUseBaseData" : {
      "get" : {
        "tags" : [ "Incubation" ],
        "summary" : "Get data that includes the core household fields only by Survey ID",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Incubation-red)]()\n\n[![Generic badge](https://img.shields.io/badge/Access%20Policy-TEC_Architecture_+_Service_Owner_approvals_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Official%20Use%20Only-yellow)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_household-officialusebasedata_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "surveyID",
          "in" : "query",
          "description" : "unique identifier for the collected data, as retrieved from /Surveys API.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "page size for paged results, default value is 20.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_household-officialusebasedata_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/Household/PublicBaseData" : {
      "get" : {
        "tags" : [ "Incubation" ],
        "summary" : "Get data that includes the core household fields only by Survey ID",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Incubation-red)]()\n\n[![Generic badge](https://img.shields.io/badge/Access%20Policy-TEC_Architecture_+_Service_Owner_approvals_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_household-publicbasedata_get\"\n\n\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "surveyID",
          "in" : "query",
          "description" : "unique identifier for the collected data, as retrieved from /Surveys API.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "page size for paged results, default value is 20.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedSurveyResponsesDTO"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_household-publicbasedata_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/MarketPrices/PriceMonthly" : {
      "get" : {
        "tags" : [ "MarketPrices" ],
        "summary" : "Returns a monthly time series of commodity market prices.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_marketprices-pricemonthly_get\"\n\nThis is the lowest frequency available and the most complete data source. Data is flagged according to its pre-processing characteristics. actual data is collected originally with monthly frequency; aggregated data is collected with higher frequency (daily or weekly) averaged through a weighted mean to monthly; imputed data is an estimation of missing values in the time series, obtained through the R Amelia-II package; forecasted data is a six months prediction obtained through different methods, which are reported in the API. For country specific meta-data please refer to documentation available in [DataLibrary](https://datalib.vam.wfp.org/). For specific methodological notes on forecasts and imputations refer to the dedicated page in [DataViz](https://dataviz.vam.wfp.org/). Country code, either ISO-3166 Alpha 3 code or the VAM internal admin0code is mandatory.\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "The code to identify the country. It can be a ISO-3166 Alpha 3 code or the VAM internal admin0code.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "marketID",
          "in" : "query",
          "description" : "Unique ID of a Market, as found in /Markets/GeoJSONList",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "commodityID",
          "in" : "query",
          "description" : "The exact ID of a Commodity, as found in /Commodities/List",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "priceTypeName",
          "in" : "query",
          "description" : "Price type: [retail|wholesale|farmgate]",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "currencyID",
          "in" : "query",
          "description" : "The exact ID of a currency, as found in /Currency/List",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "priceFlag",
          "in" : "query",
          "description" : "Type of price data: [actual|aggregate|estimated|forecasted]",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Starting date for the range in which data was collected. Use the date formats defined by RFC 3339 ; use strings matching year \\\"-\\\" month \\\"-\\\" day (e.g. 2020/06/24)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Ending date for the range in which data was collected. Use the date formats defined by RFC 3339 ; use strings matching year \\\"-\\\" month \\\"-\\\" day (e.g. 2020/06/24)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "latestValueOnly",
          "in" : "query",
          "description" : "[TRUE|FALSE]",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format: [JSON|CSV] Json is the default value",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ViewExtendedAggregatedPricePagedResult"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ViewExtendedAggregatedPricePagedResult"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ViewExtendedAggregatedPricePagedResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ "vamdatabridges_marketprices-pricemonthly_get" ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/MarketPrices/PriceWeekly" : {
      "get" : {
        "tags" : [ "MarketPrices" ],
        "summary" : "Returns a weekly time series of commodity market prices.",
        "description" : "\n\n[![Generic badge](https://img.shields.io/badge/Maturity%20Level-Production%20Ready-green)]()\n\n[![Generic badge](https://img.shields.io/badge/Access_Policy-TEC_Architecture_approval_required-yellow)]()\n\n[![Generic badge](https://img.shields.io/badge/Data%20Classification-Public-green)]()\n\n### This endpoint is restricted, it requires the scope: \"vamdatabridges_marketprices-priceweekly_get\"\n\nWeeks used as reference are the International Organization for Standardization (ISO) week-numbering year (ISO-8601). Data is flagged according to its pre-processing characteristics. Aactual data is collected originally with weekly frequency; aggregated data is collected with higher frequency (daily) averaged through a weighted mean to weekly; imputed data is an estimation of missing values in the time series, obtained through the R Amelia-II package; forecasted data is a six months prediction obtained through different methods, which are reported in the API. For country specific meta-data please refer to documentation available in [DataLibrary](https://datalib.vam.wfp.org/). For specific methodological notes on forecasts and imputations refer to the dedicated page in [DataViz](https://dataviz.vam.wfp.org/). Country code, either ISO-3166 Alpha 3 code or the VAM internal admin0code is mandatory.\n\n\n\n**Data Controller** - Wael ATTIA\n\n**API Integration Pattern** - This endpoint uses [Hey Jude](https://docs.api.wfp.org/providers/#api-patterns) pattern",
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "The code to identify the country. It can be a ISO-3166 Alpha 3 code or the VAM internal admin0code.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "marketID",
          "in" : "query",
          "description" : "Unique ID of a Market, as found in /Markets/GeoJSONList",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "commodityID",
          "in" : "query",
          "description" : "The exact ID of a Commodity, as found in /Commodities/List",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "priceTypeName",
          "in" : "query",
          "description" : "Price type: [retail|wholesale|farmgate]",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "currencyID",
          "in" : "query",
          "description" : "The exact ID of a currency, as found in /Currency/List",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "priceFlag",
          "in" : "query",
          "description" : "Type of price data: [actual|aggregate|estimated|forecasted]",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Starting date for the range in which data was collected. Use the date formats defined by RFC 3339 ; use strings matching year \\\"-\\\" month \\\"-\\\" day (e.g. 2020/06/24)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "Ending date for the range in which data was collected. Use the date formats defined by RFC 3339 ; use strings matching year \\\"-\\\" month \\\"-\\\" day (e.g. 2020/06/24)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "latestValueOnly",
          "in" : "query",
          "description" : "[TRUE|FALSE]",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number for paged results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "Output format: [JSON|CSV] Json is the default value",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "json"
          }
        }, {
          "name" : "env",
          "in" : "query",
          "description" : "Environment.\n  * `prod` - api.vam.wfp.org\n  * `dev` - dev.api.vam.wfp.org",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "prod", "dev" ]
[...]
